**/node_modules/
**/dist/
**/.env
**/.env.local
**/.env.*.local
!.env.example
!**/.env.example
*.log
docs/
!docs/
docs/*
!docs/New_Connection_UI_Flow.html
!docs/New_Connection_UI_Flow.doc
!docs/New_Connection_UI_Flow.pdf
documets-and-flow/*
android-work/*
LIVE_DEPLOYMENT.md
documets-and-flow/*
samdamte-customer-import.xlsx*.xlsx
~$*.xlsx
*.xlsx
*.mdb
*.accdb
*.tsbuildinfo
system-data/*
